.out-math {
    background-color: whitesmoke;
    border: 0.1px solid lightgrey;
    border-radius: 1rem;
    line-height: 3rem;
    margin: 0.5rem auto;
    padding: 0 1rem;
    text-align: center;
    width: min-content;

    & > mjx-container {
        margin: 1rem 0.5rem !important;
    }
}