.blog-list {
    list-style: square;

        &__drafts {
            font-weight: bold;
        }

        &--pinned {
            list-style: none;
            // padding-left: 1rem;
            text-indent: -1.7rem;

            &::before {
                content: "📌  ";
            }
        }
}